body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    margin-bottom: 4rem;
}


.head2{
    font-size: 30px;
    text-align: center;
}

hr{
    border-color:black;
}
.history{
    display: flex;
    margin-top:100px;
    font-size: larger;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin-left:auto;
    margin-right: auto;
    color:#374151;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.history .fun-facts {
    margin-top: 20px;
}

.history .fun-facts .head2 {
    font-weight: bold;
    text-align: center;
}

.history .fun-facts li {
    margin-bottom: 10px;
    margin-top: 20px;
}
.history .weather-info{
    margin-top: 20px;
}
.history .weather-info .head2 {
    text-align: center;
    font-weight: bold;
}

.history .weather-info li {
    margin-bottom: 10px;
    margin-top: 20px;
}
#weather_p{
    font-size: 22px;
}