@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
body{
    font-family: 'Montserrat', sans-serif; 
    background: rgba(0,0,0,0.7) url(../image/Q3.jpg);
    background-size:cover;
    background-position:center;
    height: 65vh;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    right:0;
}
div{
    display:block;
    unicode-bidi: isolate;
}
.link{
    text-decoration: none;
}
#main_heading{
    margin:30px;

}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: default;

}
header:hover {
    text-decoration: none !important;
}
header h1{
    margin-top: 10vh;
    font-size: 5vw;

}
header p{
    margin-top: 10px;
    font-size: 4vw;
}
#district_info{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:65vh auto;
}
button {
    position:relative;
    display: block;
    width: 500px;
    height: 500px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    padding:0;
    cursor: pointer;
    border-radius: 20px;
    border:none;
    display:block;
    margin-bottom:30px;
}
.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 10vh; 
    overflow: hidden;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.box.show {
    opacity: 1;
    transform: translateY(0);
}
.box a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
    color: inherit !important;

}
.box .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.box img{
    width: 100%;
    height: 100%;
    border-radius: inherit !important;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}
img{
    object-fit: cover !important;
}
.box:hover img{
    transform: scale(1.2);
}
#five{
    background-color: black !important;
    transition: 0.5s ease-out;
}
#five:hover{
    background-color: rgb(44,45,45) !important;
    transition: 0.5s ease-in-out;
}

