@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background-color:#004953;
}
#main_heading{
    background-image: image();
}

/* Header */
.link{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #f9f07e;
    cursor: default;
}
header:hover {
    text-decoration: none !important;
}
header h1{
    margin-top: 10vh;
    font-size: 5vw;

}
header p{
    margin-top: 10px;
    font-size: 4vw;
}
div #district_info{
    display: flex;
    flex-direction: column !important;
    justify-content: space-around;
    padding: 10px;
    font-size: 3vw;
    align-items: center;
}
button {
    font-size: 30px;
    color: #f9f07e;
    background-color: #004953;
    font-weight: bold;
    padding:2px;
    width: 300px;
    height: 500px;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}
.box{
    display: inline-block;
    width: 300px;
    height: 500px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    
}
.box:hover{
    border: 1px solid #004953;
    color: #004953;
    
}
.box a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
    color: inherit !important;

}
.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 10vh; 
}
@media (max-width: 600px) {
    .buttons-container {
        justify-content: center; /* Align buttons horizontally in the middle on smaller screens */
    }
}